# =====================================================
# GLOBAL
# =====================================================
global
    log stdout format raw local0
    daemon
    maxconn 100000
    nbthread 2

    tune.ssl.default-dh-param 2048
    tune.h2.initial-window-size 2147483647

    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners

# =====================================================
# DEFAULTS
# =====================================================
defaults
    log global
    mode tcp
    option dontlognull

    timeout connect 5s
    timeout client  1h
    timeout server  1h
    timeout tunnel  1h

# =====================================================
# FRONTEND MULTIPORT (TCP + UDP CUSTOM)
# =====================================================
frontend multiport
    mode tcp

    # TCP PORTS (NO TFO OVERUSE)
    bind *:222-1000
    bind *:443
    bind *:2053
    bind *:2083
    bind *:2096
    bind *:2087
    bind *:8443

    tcp-request inspect-delay 1s
    tcp-request content accept if HTTP
    tcp-request content accept if { req.ssl_hello_type 1 }

    use_backend recir_http  if HTTP
    default_backend recir_https

# =====================================================
# FRONTEND WS / TLS / NTLS
# =====================================================
frontend ssl
    mode tcp

    bind *:80
    bind *:55
    bind *:8080
    bind *:8880
    bind *:2052
    bind *:2086
    bind *:2095
    bind *:2097
    bind *:2098
    bind *:2082
    bind *:2092
    bind *:2022

    bind abns@haproxy-https accept-proxy ssl crt /etc/haproxy/hap.pem alpn h2,http/1.1

    tcp-request inspect-delay 1s
    tcp-request content capture req.ssl_sni len 100
    tcp-request content accept if { req.ssl_hello_type 1 }

    acl is_ws hdr(Connection) -i upgrade
    acl is_ws2 hdr(Upgrade) -i websocket
    acl is_h2 ssl_fc_alpn -i h2
    acl is_bot payload(0,7) -m bin 5353482d322e30

    use_backend GRUP_FTVPN if is_h2
    use_backend FTVPN if is_ws is_ws2
    use_backend BOT_FTVPN if is_bot
    default_backend CHANNEL_FTVPN

# =====================================================
# BACKEND LOOP (RE-CIRCULATION)
# =====================================================
backend recir_http
    mode tcp
    server loop-http abns@haproxy-http send-proxy-v2 check

backend recir_https
    mode tcp
    server loop-https abns@haproxy-https send-proxy-v2 check

# =====================================================
# BACKEND WS / TLS
# =====================================================
backend FTVPN
    mode tcp
    server ws-backend 127.0.0.1:1010 send-proxy check

backend GRUP_FTVPN
    mode tcp
    server grpc-backend 127.0.0.1:1013 send-proxy check

backend CHANNEL_FTVPN
    mode tcp
    balance roundrobin
    server ovpn 127.0.0.1:1194 check
    server extra 127.0.0.1:1012 send-proxy check

backend BOT_FTVPN
    mode tcp
    server bot 127.0.0.1:2222 check
